{% extends "web/layout.html" %}

{% block title %} 
  Home
{% endblock %}

{% block body %}
<!-- Page Header -->
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Home</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <!-- Home Post List -->
        {% for post in posts %}

          <article class="post-preview" style="border: 2px black solid;">
            <a href="{% url 'web:article' post.article_id %}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.description }}</h3>
              {% endif %}
            </a>
            <p class="post-meta">Posted by
              {{ post.author }}
              on
              {{ post.date_published }}            
            </p>
          </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}